PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE featuresets (
    featuresetid INTEGER PRIMARY KEY,
    featureversion TEXT NOT NULL
);
INSERT INTO featuresets VALUES(1,'baseline5barv1');
CREATE TABLE forwardlabels (
    forwardlabelid INTEGER PRIMARY KEY,
    patterninstanceid INTEGER NOT NULL,
    holddays INTEGER NOT NULL,
    absolutereturn REAL,
    percentreturn REAL,
    direction TEXT,
    profitable INTEGER,
    FOREIGN KEY(patterninstanceid) REFERENCES patterninstances(patterninstanceid)
);
CREATE TABLE patternfeatures (
    patternfeatureid INTEGER PRIMARY KEY,
    patterninstanceid INTEGER NOT NULL,
    featurename TEXT NOT NULL,
    featurevalue REAL,
    FOREIGN KEY(patterninstanceid) REFERENCES patterninstances(patterninstanceid)
);
INSERT INTO patternfeatures VALUES(1,1,'close0',520.1699999999999591);
INSERT INTO patternfeatures VALUES(2,1,'range0',3.502399999999965985);
INSERT INTO patternfeatures VALUES(3,1,'volume0',43643600.0);
CREATE TABLE patterninstances (
    patterninstanceid INTEGER PRIMARY KEY,
    symbolid INTEGER NOT NULL,
    sourcefileid INTEGER NOT NULL,
    anchordate TEXT NOT NULL,
    featuresetid INTEGER NOT NULL,
    FOREIGN KEY(symbolid) REFERENCES symbols(symbolid),
    FOREIGN KEY(sourcefileid) REFERENCES sourcefiles(sourcefileid),
    FOREIGN KEY(featuresetid) REFERENCES featuresets(featuresetid)
);
INSERT INTO patterninstances VALUES(1,1,1,'2024-05-09',1);
INSERT INTO patterninstances VALUES(2,1,1,'2024-05-10',1);
INSERT INTO patterninstances VALUES(3,1,1,'2024-05-13',1);
CREATE TABLE pricebars (
    pricebarid INTEGER PRIMARY KEY,
    symbolid INTEGER NOT NULL,
    bardate TEXT NOT NULL,
    open REAL,
    high REAL,
    low REAL,
    close REAL,
    volume REAL,
    FOREIGN KEY(symbolid) REFERENCES symbols(symbolid)
);
INSERT INTO pricebars VALUES(1,1,'2024-05-13',522.5599999999999454,522.6699999999999591,519.740000000000009,520.9099999999999682,36716300.0);
INSERT INTO pricebars VALUES(2,1,'2024-05-10',521.8099999999999454,522.634999999999991,519.5900000000000318,520.8400000000000318,52233100.0);
INSERT INTO pricebars VALUES(3,1,'2024-05-09',517.3799999999999955,520.2074000000000069,516.7050000000000409,520.1699999999999591,43643600.0);
CREATE TABLE sourcefiles (
    sourcefileid INTEGER PRIMARY KEY,
    filename TEXT UNIQUE NOT NULL,
    symbol TEXT NOT NULL,
    holddays INTEGER NOT NULL,
    importedat TEXT NOT NULL,
    FOREIGN KEY(symbol) REFERENCES symbols(symbol)
);
INSERT INTO sourcefiles VALUES(1,'History Grid 050324_051324_SPY_5day.csv','SPY',5,'2026-04-27T20:20:43.142670');
INSERT INTO sourcefiles VALUES(2,'History Grid 011725_012525 (SPY).csv','SPY',0,'2026-04-27T20:26:04.220848');
INSERT INTO sourcefiles VALUES(3,'History Grid 013026_020626_AAPL_5day.csv','AAPL',5,'2026-04-27T20:30:03.837381');
CREATE TABLE symbols (
    symbolid INTEGER PRIMARY KEY,
    symbol TEXT UNIQUE NOT NULL
);
INSERT INTO symbols VALUES(1,'SPY');
INSERT INTO symbols VALUES(2,'AAPL');
INSERT INTO symbols VALUES(3,'MSFT');
CREATE INDEX idx_pricebars_symboldate ON pricebars(symbolid, bardate);
CREATE INDEX idx_patterninstances_symbolanchor ON patterninstances(symbolid, anchordate);
CREATE INDEX idx_forwardlabels_holddays ON forwardlabels(holddays);
COMMIT;
